# .htaccess en la carpeta /front
RewriteEngine On
RewriteBase /

# 1. Si alguien entra a la raíz, cargar el archivo login.php silenciosamente
# Esto hace que app.mejora.com.co muestre el login directamente
RewriteRule ^$ login/login.php [L]

# 2. Si el archivo solicitado no existe, y es en la raíz, intentar buscarlo en /login
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ login/$1 [L]
